@charset "utf-8";

/**
 *
 * Department of Agriculture | www.agriculture.gov.au
 * Global Login form styles
 *
 * file:    login.css
 *
 */
 

/*
=================================================
	Login page
=================================================
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  height: 1px;
  overflow: hidden;
  padding: 0;
  width: 1px;
  position: absolute;
}
html {
	
}
body {
	font-family:  Calibri, arial, sans-serif;
	background: #d5d2ca;
	background: #857D70;
	font-size: 16px;
	font-size: 1rem;
	overflow: auto;
	padding: 0;
	margin: 0;
}
.container {
	margin: 0 auto;
}
.header {
	background: #857D70;
	overflow: hidden;
	min-height: 120px;
}
.header h1 a {	
  background: url(../../../../../../www.agriculture.gov.au/_catalogs/masterpage/Agriculture2015/css/files/da-logo.html) no-repeat 0.3em 50%;
  min-height: 80px;
  width: 260px;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}

/* Login form */
.form {
	padding: 25px;
	background-color: #e7e5e2;
	position:relative;
	min-height: 300px;
	max-width: 450px;
	margin: 20px auto 0;
	overflow:hidden;
}
.form:after {
	content: '';
	background: #343434;
	background: -webkit-linear-gradient(left, #343434, #343434 40%, #284e36 40%, #284e36 65%, #165788 65%, #165788 85%, #823c47 85%, #823c47);
	background: -moz-linear-gradient(left, #343434, #343434 40%, #284e36 40%, #284e36 65%, #165788 65%, #165788 85%, #823c47 85%, #823c47);
	background: -ms-linear-gradient(left, #343434, #343434 40%, #284e36 40%, #284e36 65%, #165788 65%, #165788 85%, #823c47 85%, #823c47);
	background: linear-gradient(left, #343434, #343434 40%, #284e36 40%, #284e36 65%, #165788 65%, #165788 85%, #823c47 85%, #823c47);
	height: 7px;
	display: block;
	position:absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
.form h2 {
	margin: 0;
	float: left;
}
#LblSiteName {
	float: right;
	display: block;
	font-size: 1.2em;	 
	line-height: 1.7em;
	color: #666666;
}
.form-header {
	overflow: hidden;
	clear: both;	
	margin-top: 10px;
	margin-bottom: 30px;
}
.form .field {
	margin-bottom: 20px;
}
.form label {
	font-weight: normal;
	font-size: 1.1em;	
	color: #000000;
}
.form input[type="text"],
.form input[type="password"] {
	padding: 8px 5px;
	font-size: 1em;
	width: 100%;
	color: #666666;
	border: 1px solid #999;
}
.form input[type="text"]:focus,
.form input[type="password"]:focus {
	border-color: #333333;
}
.form input[type="submit"],
.form input[type="button"] {
	border: 1px solid #165788;
	padding: 8px 20px;
	background: #3366cc;
	color: #ffffff;
	margin-top: 20px;
	margin-left: 10px;
	float: right;
	font-size:1em;
	min-width: 100px;
}
.form input[type="button"] {
	border: 1px solid #444444;
	background: #777777;
}

.form input[type="submit"]:hover,
.form input[type="submit"]:focus{
	background: #1C57CF;
	cursor: pointer;
}
.form input[type="button"]:hover,
.form input[type="button"]:focus {
	background: #555555;
	cursor: pointer;
}
#lnkResetPassword {
	clear: both;
	display: block;
	float: left;
	color: #00548C;
}

#lnkResetPassword:hover,
#lnkResetPassword:focus {
	color: #6a4061;
}
#Pin input[type="text"],
#UserPin input[type="text"] {
	width: 100px;
}
#messages {
	color: #cc0000;
}
#messages ul {
    padding-left: 15px;
}

.information {
	  padding-top: 10px;
	  color: #333333;
	  clear: both;
	  overflow: hidden;
	  font-size: .9em;
}

/*
=================================================
	Medium screen
=================================================
*/
@media screen and (min-width: 37.5em) {
	/* Login form */
	.form {
		width: 400px;
		padding: 20px 35px 40px;
		position:absolute;
		top: 20%;
		left:50%;
		margin-left: -180px;
	}

}
/*
=================================================
	Wide screen
=================================================
*/
@media screen and (min-width: 60em) {
	/* Login form */
	.form {
		width: 460px;
		max-width: 460px;
		min-height: 300px;
		padding: 30px 40px 70px;
		top: 25%;
		left:50%;
		margin-left: -230px;
	}
	
}