/*Subsite CSS*/
#s4-workspace #insideHeader {
    display:block;
}
#s4-workspace #insideHeader {
    background-color: #bc5804;      
}
#s4-workspace #main{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;	
}
#s4-workspace #inside-title {
    font-size: 1.5em;
}
#DeltaPlaceHolderMain #PageTitle{display:block;}
#s4-bodyContainer #pageControls {display:block;}

/* Override Heading Navigation  - Start */

#heading-nav h2 {
    color: #ffffff;
    background-color: #bc5804;
}

/* Override Heading Navigation  - End */


/* Floating navigation menu */

#mainbody .micor__nav a.micor__nav-heading {
    background: #bc5804;
}

#mainbody .micor__nav-content ul.micor__nav-level1 li a:hover {
    color: #bc5804;
}
