/*Subsite CSS*/
#s4-workspace #insideHeader {
    display:block;
}
#s4-workspace #insideHeader {
    background-color: #1B7A66;      
}
#s4-workspace #main{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;	
}
#DeltaPlaceHolderMain #PageTitle{
	display:block;
}
#s4-bodyContainer #pageControls {
	display:block;
}
#heading-column #heading-nav h2 {
    background-color: #1b7a66;
    font-weight:bold;
    color: #ffffff;
}
#homepage-introduction #page-content {
    padding-left: 32px;
    padding-right: 32px;
}
div#homepage-introduction h1 {
    display: block;
    font-size: 2em;
}

#page-content .requirement hr {
	display:block;
    background: url("../Images/hr.gif") repeat-x scroll 0 0 !important;
    border-width: 0;
    clear: left;
    height: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
    text-align: left;
    width: 100%;
}
#homepage-introduction h3 {
    color: #3e3e3e;
    font-weight:bold;
}
div#homepage-introduction h1 {
    display: block;
    font-size: 2em;
    color: #3e3e3e;
}
#plannt-homepage-introduction #plants-category {
    float: right;
    margin-right: 20px;
    margin-top: -73px;
}
.ms-formfieldlabel {
    font-size: 2rem;
    }
}.requirement #reviewed-date {
    margin-bottom: 20px;
}
.country-name {
    text-align: center;
}
/*Plants search results css*/
.ms-rtestate-read.ms-rte-wpbox {
    display: inline;
    float: left;
}
#Refinement{
	display:inline;
	float:left;
}
.ms-srch-item {
    clear: both;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
    width: 500px;
}
/*Plants edit page css***********************************************************************/
div.nppo-details span.ms-formfieldlabel{
	display:none;
}
div.web-addresses span.ms-formfieldlabel{
	display:none;
}

/*Summary page css*/
#mainbody .plants-product .plants-name a {
    text-decoration: none;
}
#mainbody .plants-product .plants-name a:hover {
    text-decoration: underline;
}
.plants-name {
    display: inline;
}
.plants-category {
    float: right;
}
.plants-product {
    border-bottom: 1px solid #cccccc;
    padding: 5px;
}


/* Plants home results styles tweeks */
#main .plants-home-refiners h2,
#main .plants-home-search-results h2 {
	font-size: 1.6em;
}
#main .plants-home-refiners {
	float: left;
	width: 23%;
	display: block;
}
#main .plants-home-search-results {
	float: left;
	width: 72%;
	display: block;
}
#mainbody .plants-home-search-results .ms-srch-result {
	margin-top: 0;
}
#mainbody .plants-home-search-results .ms-srch-ellipsis {
	font-size: 16px;
}
#main .plansts-home-document-notice {
	clear: both;
}

#plannt-homepage-introduction #reviewed-date {
	padding-bottom: 20px;
}
/* Plants refiners updated styles */
#mainbody .ms-ref-refiner .Container {
	padding: 0;
	padding-bottom: 23px;
}
#mainbody .ms-ref-refiner .Value {
	padding:4px 0;
	display:block;
}
#main .ms-ref-ellipsis {
	white-space: normal;
}
#mainbody .ms-ref-refiner .Value .ms-ref-pplPicker {
	padding-top:2px;
}
#mainbody .ms-ref-refiner .Value .ms-helperText {
	left:6px;
}
#mainbody .ms-ref-refiner .Value .sp-peoplepicker-autoFillContainer {
	min-width:149px;
	max-width:169px;
	z-index:100;
}
#mainbody .ms-ref-refiner .Value a {
	cursor:pointer;
	background-color:transparent;
	border:0;
	line-height:20px;
}
#mainbody .ms-ref-refiner .Value > a:hover {
	text-decoration:none;
	color:#0072c6;
}
#mainbody .ms-ref-refiner .Value > a:active {
	text-decoration:none;
	color:#004d85;
}


/* Plants page editing layout */
#ctl00_PlaceHolderMain_ctl05_ctl00_TextField,
#ctl00_PlaceHolderMain_NPPODetails_RichHtmlField {
	border: 1px solid #ABABAB;
	width: 300px;
	padding: 3px;
	color: #000;

}
#ctl00_PlaceHolderMain_ctl04_ctl00_TextField,
#ctl00_PlaceHolderMain_GeneralRequirements_RichHtmlField_displayContent,
#ctl00_PlaceHolderMain_ScientificName_RichHtmlField_displayContent {
	width: 100%;
	border: 1px solid #ABABAB;
	padding: 3px;
	color: #000;
}
#ctl00_PlaceHolderMain_Treatment_RichHtmlField,
#ctl00_PlaceHolderMain_ReferenceDetails_RichHtmlField,
#ctl00_PlaceHolderMain_AdditionalDeclaration_RichHtmlField {
	width: 100%;
	border: 1px solid #ABABAB;
	color: #000;
}
#ctl00_PlaceHolderMain_Treatment_RichHtmlField_displayContent,
#ctl00_PlaceHolderMain_ReferenceDetails_RichHtmlField_displayContent,
#ctl00_PlaceHolderMain_AdditionalDeclaration_RichHtmlField_displayContent {
	padding: 3px;
}
#ctl00_PlaceHolderMain_ScientificName_RichHtmlField_displayContent p,
#ctl00_PlaceHolderMain_Treatment_RichHtmlField_displayContent p,
#ctl00_PlaceHolderMain_AdditionalDeclaration_RichHtmlField_displayContent p,
#ctl00_PlaceHolderMain_ReferenceDetails_RichHtmlField_displayContent p {
	margin: 0;
	padding: 0;
}
#ctl00_PlaceHolderMain_ScientificName_RichHtmlField_displayContent {
	margin-bottom: 10px;
}

/******************* New CSS ******************************/

.rss-details {
	display: none;
}

/********* Dropdown *************/

#rssDropdown {
	padding: 5px;
	margin: 2px 0px 0px -2px;
}

/* Dropdown Content */
 .rssDropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	border-radius: 5px;
}

.rssFilter {
	padding-bottom: 5px;
}

.rssFilterName {
	font-weight: bold;
}

#btnRssSubscribe {
	margin: 5px 0px 5px 0px;
	font-weight: bold;
	font-size: 12px;
	background-color: #ffffff;
	border-radius: 5px;
}

.show {display:block;}